
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/MKTURBO_fav.png">

    <title>MK Turbo - Make your miata go from Meow to RAWR!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>


    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,500,800" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/site.css" rel="stylesheet">

  </head>



  <body>
    <div id="app">
      <navbar-component :tagline="tagline"></navbar-component>

      <div class="container">

        <div class="row row-offcanvas row-offcanvas-left" :class="{active: isActive}">

          <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
            <sidebar-offcanvas :nav="navigation"></sidebar-offcanvas>
          </div><!--/col-6-->

          <p class="float-left hidden-md-up">
            <button type="button" class="btn btn-pink btn-sm" data-toggle="offcanvas" v-on:click="makeActive">Toggle nav  &raquo;</button>
          </p>

          <div class="col-12 col-md-9">

            <h6 class="text-uppercase text-gray mt-4">Kit Information</h6>
            <h3 class="display-4">90-93 NA6 Turbo kit</h3>
            <p class="mb-4 text-muted lead">The MK Turbo T3 budget DIY setup is a budget setup to boost 1.6L and 1.8L NA and NB miatas at a reasonable price. With three "stages" to choose from&mdash;The DIY Turbo KIt, The DIY Turbo w/intercooler kit, The Complete Turbo w/intercooler, injectors, & ECU&mdash;there is an option for everyone. Prices start at $1776 shipped.</p>

            <hr class="container mb-5" />

            <div class="row text-center">
              <div class="px-4 pb-2 mb-5 col-12 col-xl-4 col-lg-6 col-md-12">
                <div class="px-2">
                  <h6 class="text-uppercase text-gray mb-2">DIY Turbo Kit</h6>
                  <span class="align-top dollar">$</span><span class="display-4 mb-0" v-cloak>{{ price.NA6DIY }}</span>
                  <div class="extra mb-4">Shipped</div>
                  <p class="pb-2">The MKTurbo <strong>NA6</strong> DIY Turbo Kit is made for 90-93 Miatas withg the factory 1.6L still installed. It utilizes a log manifold that is AC and power steering compatible. The downpipe, mid pipe, and axle back are the same as the 1.8 NA setups to make future upgrades to a 1.8L engine easy.</p>
                </div>

                <ul class="text-left list-unstyled list-unstyled-borders my-4 px-2">
                  <li class="py-4 text-muted"><strong>Welded</strong> Log Style Manifold</li>
                  <li class="py-4 text-muted"><strong>T3 Turbo</strong> with 2.5" v-band outlet</li>
                  <li class="py-4 text-muted"><strong>2.5" to 3" Downpipe</strong> with v-bands at either end</li>
                  <li class="py-4 text-muted"><strong>Full 3" exhaust</strong> with SS Magnaflow muffler, v-bands for all connections</li>
                </ul>
                <a href="mailto:MKturbos@gmail.com?subject=NA6 DIY Turbo Kit" class="btn btn-outline-pink btn-block">
                  Purchase
                </a>

              </div>

          <div class="px-4 pb-2 mb-5 col-12 col-xl-4 col-lg-6 col-md-12">
            <div class="px-2">
              <h6 class="text-uppercase text-gray mb-2">Intercooled Kit</h6>
              <span class="align-top dollar">$</span><span class="display-4 mb-0" v-cloak>{{ price.NA6IC }}</span>
              <div class="extra mb-4">Shipped</div>
              <p class="pb-2">The MKTurbo <strong>NA6</strong> Intercooled Kit includes all the parts from the DIY Turbo Kit, plus a complete intercooler kit that still remains AC and power steering compatible!</p>
            </div>

            <ul class="text-left list-unstyled list-unstyled-borders my-4 px-2">
              <li class="py-4 text-muted"><strong>DIY Turbo</strong> Kit</li>
              <li class="py-4 text-muted"><strong>18 x 18"</strong> Bar & Plate Intercooler</li>
              <li class="py-4 text-muted"><strong>Complete</strong> aluminum piping, silicone couplers, t-clamps, and 3/4" AIT bung</li>
              <li class="py-4 text-muted"><strong>BOV</strong> with mated flange on piping</li>
            </ul>

            <a href="mailto:MKturbos@gmail.com?subject=NA6 Intercooled Kit" class="btn btn-outline-pink btn-block">
              Purchase
            </a>

          </div>

          <div class="px-4 pb-2 mb-5 col-12 col-xl-4 col-lg-6 col-md-12">
            <div class="px-2">
              <h6 class="text-uppercase text-gray mb-2">Complete Kit</h6>
              <span class="align-top dollar">$</span><span class="display-4 mb-0" v-cloak>{{ price.NA6Full }}</span>
              <div class="extra mb-4">Shipped</div>
              <p class="pb-2">The MKTurbo <strong>NA6</strong> Complete Kit includes all the parts from the Intercooled Kit, plus intake and fitler, Force Flow injectors, MS3PRO ECU, MKTurbo Oil Line Kit, and a Wideband o2 for a complete drive-away kit!</p>
            </div>

            <ul class="text-left list-unstyled list-unstyled-borders my-4 px-2">
              <li class="py-4 text-muted"><strong>Intercooled Turbo</strong> Kit</li>
              <li class="py-4 text-muted"><strong>PNP vTPS</strong> Plug-N-Play variable TPS</li>
              <li class="py-4 text-muted"><strong>Cone Filter</strong> with intake piping</li>
              <li class="py-4 text-muted"><strong>640cc </strong> Force Flow EV-14 Injectors</li>
              <li class="py-4 text-muted"><strong>MS3PRO ECU</strong> Plug-N-Play Standalone Engine Management System</li>
              <li class="py-4 text-muted"><strong>WBo2</strong> Controller w/ sensor</li>
              <li class="py-4 text-muted"><strong>Oil Line Kit</strong> feed line, drain line, and fittings</li>
            </ul>

            <a href="mailto:MKturbos@gmail.com?subject=NA6 Complete Kit" class="btn btn-outline-pink btn-block">
              Purchase
            </a>
          </div>
        </div>

        <hr class="container mb-5" />



        <div class="row">
          <div class="col-sm-12">

            <b-carousel id="NA6PicsCarousel"
                style="text-shadow: 1px 1px 2px #333;"
                controls
                indicators
                background="#ababab"
                :interval="9000"
                img-width="1024"
                img-height="480"
                v-model="slide"
                @sliding-start="onSlideStart"
                @sliding-end="onSlideEnd"
            >

              <b-carousel-slide
                  v-for="(pic, index) in NA6pics"
                  v-bind:img-src="pic.url"
                  v-bind:caption="pic.heading"
                  v-bind:text="pic.desc"
                  v-bind:key="index"
              >
              </b-carousel-slide>

            </b-carousel>

          </div>

        </div>

        <div class="row justify-content-center my-4" id="slider-thumbs">
          <!-- Bottom switcher of slider -->

          <div v-for="(pic, index) in NA6pics" class="col-3 mb-4" :key="index">
            <a class="thumbnail" :id="'carousel-selector-' + index" @click="slide = index">
              <img v-bind:src="pic.thumb" alt="..." class="img-fluid img-thumbnail">
            </a>
          </div>

        </div>

      </div><!--/span-->

    </div><!--/row-->
    <footer-component :year="year"></footer-component>

  </div><!--/container-->

  <modal v-if="showModal" @close="showModal = false" :modal="modal"></modal>
  <transition name="modal">
    <div v-if="showModal" class="modal-backdrop" v-cloak></div>
  </transition>

</div> <!--./app-->



<!-- Bootstrap core JavaScript
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>-->
<!-- Vue.Js -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="application/javascript"></script>
<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script src="assets/scripts/App.vue"></script>

<!-- Custom JQuery
<script src="assets/scripts/site.js"></script> -->


</body>
</html>
