
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/MKTURBO_fav.png">

    <title>MK Turbo - Make your miata go from Meow to RAWR!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>


    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,500,800" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/site.css" rel="stylesheet">

  </head>



  <body>
    <div id="app">
      <navbar-component :tagline="tagline"></navbar-component>

      <div class="container">

        <div class="row row-offcanvas row-offcanvas-left" :class="{active: isActive}">

          <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
            <sidebar-offcanvas :nav="navigation" :url="url"></sidebar-offcanvas>
          </div><!--/col-6-->

          <p class="float-left hidden-md-up">
            <button type="button" class="btn btn-pink btn-sm" data-toggle="offcanvas" v-on:click="makeActive">Toggle nav  &raquo;</button>
          </p>

        <div class="col-12 col-md-9">

          <h6 class="text-uppercase text-gray mt-4">Faqs</h6>
          <h3 class="display-4">Simple answers to common questions</h3>


          <hr class="container mb-5" />
          <div class="col-10">
            <div class="mb-4">
              <p class="mb-2"><strong>Does the setup work with the 1.6l engine?</strong></p>
              <p>Yes, there is a 1.6 setup and it uses the same exhaust at the 1.8 NA. This make future upgrade to a 1.8 engine easy with all you need to change is the manifold.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>Do you sell an intercooler setup?</strong></p>
              <p>Not separately, no.  You can purchase any turbo kit with a complete intercooler kit.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>Does the setup work with power steering and air conditioning, what years?</strong></p>
              <p>Yes it works with power steering and AC. The setup should work on any 1.8L Mazda motor in a 90-05 miata. The manifold and down pipe are the same for both the NA and NB chassis. The mid-pipe and axle back are different between the NA and NB due to differences in the chassis.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>What are the turbo specs?</strong></p>
              <ul class="list-unstyled">
                <li>T3 50-trim internal wastegate turbo</li>
                <li>Intake: 2.5 inch</li>
                <li>Inlet: 2.25 inch</li>
                <li>Compressor trim: .42ar</li>
                <li>Compressor Wheel diameter: 43.20 / 60mm</li>
                <li>Turbine Wheel diameter: 45.74 / 62.86mm</li>
                <li>Exhaust Trim: .48ar</li>
                <li>Turbine flange type: t3 flange</li>
                <li>Down pipe flange type :2.50" v band</li>
                <li>Cooling type: oil cool only</li>
                <li>Horsepower rating: 325-350</li>
                <li>Actuator setting: 8psi</li>
              </ul>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>Can I get a catalytic converter installed with the kit?</strong></p>
              <p>Yes, it will just cost extra based on how you want it done.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>Will any parts of the MKTurbo exhaust work with any other exhausts parts of various brands?</strong></p>
              <p>No. The MKTurbo setups use v-band flanges instead of normal flanges that use nuts and bolts, or studs. They are also in different locations then the stock flanges.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>Why does the MKTurbo setup use v-bands on the exhaust?</strong></p>
              <p>Using v-bands instead of standard flanges makes installing the exhaust simple, quick, and painless.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>How long should it take to install?</strong></p>
              <p>With 2 competent mechanics it should take about an hour to install the setup once all the stock equipment is removed and prep work is done. It will take additional time to install everything else needed to safely run the car.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>What all is needed to turbo the car besides this setup?</strong></p>
              <p><a href="http://www.miataturbo.net/build-threads-57/how-do-proper-1-8-budget-build-81843/" target="_blank">This thread</a> is a good guide on what all is needed besides this setup. If you are to lazy to read that then you will need an ECU and wideband, clutch, injectors, oil feed and drain line, intercooler and piping, and a blow off valve. That is the quick run down of what you have to do yourself.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>What type of muffler is it?</strong></p>
              <p>It is a Magnaflow 12589.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>Will I use a different muffler or change anything in the exhaust for you?</strong></p>
              <p>No, I keep costs down by having a single simple setup, and variation will add to the cost.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>Does it have CARB approval?</strong></p>
              <p>No, but CARB testing may be pending.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>Will the wastegate need to be ported?</strong></p>
              <p>Most likely. I am doing some testing of how much it needs, and then may offer doing it as an additional service.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>Will it work with a FM butterfly brace?</strong></p>
              <p>I don't know as I don't have one on any of my test cars. I would side with no it won't fit above the butterfly brace.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>Will this setup work on the track?</strong></p>
              <p>I honestly do not know. You would have to use inconel studs for sure, I would recommend the TSE studs. The biggest concern I would have is where the v-band outlet of the turbo bolts to the turbo. That may need stronger bolts to prevent stretching on track. Track testing will be done, but there is currently no ETA.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>Does and part of the body need to be cut to fit the setup?</strong></p>
              <p>Nothing in the engine bay needs to be cut or hammered to fit the setup. There are a few places under the car that the exhaust may hit&mdash;Those may need to be ground down slightly. More details will be in the install directions.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>Are there install directions?</strong></p>
              <p>Yes, see the Installation & Instructions page.</p>
            </div>

            <div class="mb-4">
              <p class="mb-2"><strong>What is the average response time to emails and pm's?</strong></p>
              <p>I try to get back to emails and pm's within 24 hours. This is a side job for me so occasionally I get caught up in normal life and it may take a bit longer to respond.</p>
            </div>

          </div>

        </div><!--/col-12-->

      </div><!--/row-->
      <footer-component :year="year"></footer-component>

    </div><!--/container-->

    <modal v-if="showModal" @close="showModal = false" :modal="modal"></modal>
    <transition name="modal">
      <div v-if="showModal" class="modal-backdrop" v-cloak></div>
    </transition>

    </div> <!--./app-->

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-100885966-1', 'auto');
    ga('send', 'pageview');

    </script>

    <!-- Vue.Js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js" type="application/javascript"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="assets/scripts/App.vue"></script>

    <!-- v-on:click.native="modal = ({ title: pic.heading, caption: pic.desc, img: pic.url}), showModal = true" -->


    </body>
    </html>
