
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/MKTURBO_fav.png">

    <title>MK Turbo - Make your miata go from Meow to RAWR!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,500,800" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/site.css" rel="stylesheet">



  </head>



  <body>
    <div id="app">
      <navbar-component :tagline="tagline"></navbar-component>

      <div class="container">

        <div class="row row-offcanvas row-offcanvas-left">

          <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
            <sidebar-offcanvas :nav="navigation"></sidebar-offcanvas>
          </div><!--/col-6-->

          <p class="float-left hidden-md-up">
            <button type="button" class="btn btn-pink btn-sm" data-toggle="offcanvas">Toggle nav  &raquo;</button>
          </p>

          <div class="col-12 col-md-9">
            <h6 class="text-uppercase text-gray mt-4">MKTurbo Kits</h6>
            <h3 class="display-4">Why pay more for <strong>less?</strong></h3>
            <div class="mb-4">
              <p class="mb-4 text-muted lead">
                Pick three: Cheap, Powerful, Reliable.
              </p>
              <hr class="mb-5" />
              <p class="text-muted">
                While it's true the MKTurbo kit was developed as a budget-oriented kit to fill a gap in the market, through over 10 years of hands-on experience with turbo Miatas, the MKTurbo kit was also carefully crafted as a powerful contender. By keeping costs low by cutting the <strong>correct</strong> corners, reliability and performance did not have to suffer.
              </p>
              <p>
                If you are boosting on a budget, the MKturbo kit is the perfect setup for your Miata. By carefully selecting and pairing parts, with custom made/sourced parts, there is no need to worry about longevity. And you can sleep well knowing, not only did you save a substantial amount of money, but you're also getting incredible performance for the cost.
              </p>
              <p>
                Below are examples of the power you can expect from your MKTurbo kit compared to other, more expensive, options on the market:
              </p>
              <!-- <p class="text-muted">
                The welded log-style manifold is a tried-and-true approached to turbo manifolds. The MKTurbo kit turbo manifold integrates a port-matched head flange that smoothly transitions to the runners for improved flow to the turbo, as well a thick turbo flange with M10 hardware to ensure the turbo stays secure. The welded mild-steel construction allows for cost savings over a cast or stainless alternative, but is robost and not prone to cracks like other designs.
              </p>
              <p class="text-muted">
                The T3 Turbo utilized in the MKTurbo kit went through exstensive testing before it was selected as the turbo of choice.  The size is a perfect match for the 1.6L and 1.8L engines, and the success ra
              </p>
              <p class="text-muted">
                MKTurbo also sources as many parts as possible from the USA: All flanges are made by a machine shop in Pittsburg, PA, all exhaust piping and v-band assemblies are sourced from Maryland, and all oil lines are sourced and made locally at a hydraulic shop in South Carolina.  This ensures the highest quality parts
              </p> -->
            </div>
            <div class="row">
              <div class="col-6">
                <div class="card mb-4">
                  <div class="card-block">
                      <img src="assets/img/dynos/NBdyno_cent.jpg" class="img-fluid" v-on:click="modal = ({ title: '1.8L MKturbo Kit vs. Centrifugal Supercharger Kit', caption: 'Why wait for peak boost at redline, when you can have it at 3,250RPM?!.', img: 'assets/img/dynos/NBdyno_cent.jpg'}), showModal = true">
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="card mb-4">
                  <div class="card-block">
                      <img src="assets/img/dynos/NBdyno_mp62.jpg" class="img-fluid" v-on:click="modal = ({ title: '1.8L MKturbo Kit vs. mp62 Supercharger Kit', caption: 'Postive displacement has some low-end advtanges, but lacks the torque the turbo can provide throughout.', img: 'assets/img/dynos/NBdyno_mp62.jpg'}), showModal = true">
                  </div>
                </div>
              </div>

            <hr class="mb-5" />

            <div class="container mb-5">
              <!-- <h6 class="text-uppercase text-gray">Kit Information</h6> -->
              <h3 class="display-4">T3-based Budget Turbo Kits</h3>
              <p class="mb-4 text-muted lead">The MK Turbo T3 budget DIY setup is a budget setup to boost 1.6L and 1.8L NA and NB miatas at a reasonable price. With three "stages" to choose from&mdash;The DIY Turbo KIt, The DIY Turbo w/intercooler kit, The Complete Turbo w/intercooler, injectors, & ECU&mdash;there is an option for everyone. Prices start at $1500 + shipping/handling</p>
              <div class="row">
                <div class="col-12 col-lg-4">
                  <h5>90-93 NA6 Turbo kit</h2>
                  <p>The MKTurbo 1.6L setup is made for 90-93 Miatas withg the factory 1.6L still installed. It utilizes a log manifold that is AC and power steering compatible. The downpipe, mid pipe, and axle back are the same as the 1.8 NA setups to make future upgrades to a 1.8L engine easy.</p>
                  <p><a class="btn btn-outline-pink" href="9093NA6.html" role="button">View details &raquo;</a></p>
                </div><!--/span-->
                <div class="col-12 col-lg-4">
                  <h5>90-97 NA8 Turbo kit</h2>
                  <p>The MKTurbo 1.8L NA8 setup is made for 90-97 Miatas that have the 1.8L engine. It utilizes a log manifold that is AC and power steering compatible. A 2.5” to 3” downpipe, that connects to 3” exhaust all the way to the exhaust tip. EGR block off plates are provided for both EGR ports on the intake manifold.</p>
                  <p><a class="btn btn-outline-pink" href="9097NA8.html" role="button">View details &raquo;</a></p>
                </div><!--/span-->
                <div class="col-12 col-lg-4">
                  <h5>99-05 NB1/NB2 Turbo kit</h2>
                  <p>The MKTurbo 1.8L NB1/NB2 utilizes a log manifold that is AC and power steering compatible. A 2.5” to 3” downpipe, that connects to 3” exhaust all the way to the exhaust tip. EGR block off plates are provided for both EGR ports on the intake manifold.</p>
                  <p><a class="btn btn-outline-pink" href="9905NB.html" role="button">View details &raquo;</a></p>
                </div><!--/span-->
              </div>
            </div>

            <hr class="container mb-5" />

            <div class="container mb-5">
              <h3 class="display-4">Oil Line Kit</h3>
              <div class="row">
                <div class="col-12">
                  <h5>High quality SS feed and drain lines with fire sleeve</h2>
                  <p>The oil line kit will come with a -4an feed line and restrictors, -8an drain line, a tee block and fittings to bolt in at the oil pressure sender port on the block, drain fitting for the oil pan, and the input and outputs for the turbo. Basically everything you need to oil the turbo is included except for the drill bit and tap needed to tap your oil pan. The AN lines and fitting are all Aeroquip and covered in fire sleeve, they are locally made at a hydraulic shop.</p>
                  <p><a class="btn btn-outline-pink" href="oilline.html" role="button">View details &raquo;</a></p>
                </div><!--/span-->
              </div>
            </div>

          </div><!--/col-12-->

          <footer-component :year="year"></footer-component>

        </div>
      </div>

      <modal v-if="showModal" @close="showModal = false" :modal="modal"></modal>
      <transition name="modal">
        <div v-if="showModal" class="modal-backdrop fade show"></div>
      </transition>

    </div> <!--./app-->

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- Vue.Js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="assets/scripts/App.vue"></script>

    <!-- Custom JQuery -->
    <script src="assets/scripts/site.js"></script>


  </body>
</html>
