
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/MKTURBO_fav.png">

    <title>MK Turbo - Make your miata go from Meow to RAWR!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,500,800" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/site.css" rel="stylesheet">

  </head>


  <body>
    <div id="app" v-cloak>
      <base-layout v-bind="{isActive, makeActive}">

          <h6 class="text-uppercase text-gray mt-4">Installation & Instructions</h6>
          <h3 class="display-4">Heres how to make your kitty RAWR!</h3>

          <hr class="container mb-5" />
          <div class="row">

            <div class="col-12">

              <p class="lead">Currently at this time I do not have install directions.  The youtube video is the best current guide on how it all goes together.  I am slowly working on a full set of install directions, but no ETA on when they will be done.</p>
              <p class="lead">The following are a few tips to help with the install.</p>
              <p>Get 5 large coolant hose clamps and put them over the 5 rubber exhaust hangers.  This will help keep the hangers from stretching and help keep the exhaust from moving around as much.</p>
              <p>The hard coolant line from the water pump to the heater core needs to be moved back slightly.  The best way to do this is to thread a nut onto the stud for the heat line bracket on the head, and tighten it down. Then put the heater line bracket on, followed by tighten down another nut.  Then use a rubber mallet and beat the metal end back where it meets the hose. You can leave the hose attached for this.  You might need to do this a few times to get good clearance between the down pipe and the hose. Be aware it is possible to pull the hardline out from the water pump, and if that happens there is an o-ring there that will most likely need to be replaced.</p>
              <p>The turbo will need to be ported to not have boost creep. The best way to do this is to enlarge the wastegate hole.  You use a dremel or die grinder along with a carbide bit.  The whole needs to be enlarged to approximately 23mm or a little larger.  The best way to do this is to use some grease on the bottom of the wastegate flapper to see where it covers the hole.  Then expand into the covered area.  You want to leave enough area for the flapper to seal around the hole. The best way to test if you have ported enough is to install the turbo, wire the wastegate flapper open, and do a WOT pull.  You should only make 1 or 2 psi of boost at most. If you make more then that you need to enlarge the hole some more. You may need to do this a few times.</p>


              <div class="card mb-4">
                <div class="card-block">


                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4RDgL3bFjmo" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <navbar-component :tagline="tagline" slot="header"></navbar-component>

          <sidebar-offcanvas :nav="navigation" :url="url" slot="navigation"></sidebar-offcanvas>

          <footer-component :year="year" slot="footer"></footer-component>

          <modal v-if="showModal" @close="showModal = false" :modal="modal"></modal>
          <transition name="modal">
            <div v-if="showModal" class="modal-backdrop" v-cloak></div>
          </transition>

      </base-layout>

    </div> <!--./app-->

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-100885966-1', 'auto');
    ga('send', 'pageview');

    </script>

    <!-- Vue.Js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js" type="application/javascript"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="assets/scripts/App.vue"></script>

    <!-- v-on:click.native="modal = ({ title: pic.heading, caption: pic.desc, img: pic.url}), showModal = true" -->


    </body>
    </html>
